.format{
    background-color: rgb(29, 29, 29);
    text-align:center;
    font-size: xx-large;
    color: white;
}
.Home{
    
    
    color:white;
    margin-right: 25%;
}
.Contact{
    
    color:white;
    margin-right:20%;
}
.About{
    color:white;
    margin-right: 20%;
}
.Typing{
    color:white;
}
.img{
    width: 70px;
    padding-top: 0px;
    margin-right:1%;
}