.row1-container{
    color:red;
    display: flex;
    
}
.background{
    color: black;
    background-color: rgb(173, 57, 154);
    
}
.row2-container{
    color:rgb(252, 46, 46);
    display:flex
}

.col1-container{
    color: black;
}
.col2-container{
    color:black;
    margin-left:10%;
    justify-content: center;
}
.col3-container{
    color:black;
    margin-left: 15%;
}
.sec1-container{
    color:black;
    margin-left: 15%;
}
.sec2-container{
    color:black;
    margin-left: 15%;
    margin-top: 1.5%;
}
.header{
    margin-left: 35%;
}